


<div class="bg-info">
  <form class="login-form">
    <h1>Already have an account? Log In!</h1> 
    <div>
      <label for="username-login">username:</label>
      <input type="text" id="username-login" />
    </div>
    <div class="pass-sec">
      <label for="password-login">password:</label>
      <input type="password" id="password-login" />
    </div>
      <a class="btn btn-primary btn-lg login-btn" role="button">login</a>
    </div>
  </form>
  <form class="signup-form">
    <h1>New to our site? Sign Up!</h1>
    <div>
      <div>
        <label for="username-signup">username:</label>
        <input type="text" id="username-signup" />
      </div>
      <div>
        <label for="password-signup">password:</label>
        <input type="password" id="password-signup" />
      </div>
      <a class="btn btn-primary btn-lg signup-btn" role="button">signup</a>
    </div>
  </form>
</div>



<script src="/javascript/login.js"></script>
